<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOKU BOKU - WIKIPEDIA</title>
    <link rel="icon" href="./images/Wikipedia BOKU.PNG" type="image/png"> 
    <link rel="stylesheet" href="style.css"> <!-- Enlace a la hoja de estilo CSS -->
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menu-items">
                <li><a href="Noticias.html">Noticias</a></li>
                <li><a href="Youtubers.html">Youtubers</a></li>
                <li><a href="Curiosidades.html">Curiosidades</a></li>
                <li><a href="Sobre.html">Sobre el juego</a></li>
                <li><a href="skins.html">Skins</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section class="general">
            <div class="general-1">
                <img src="images/boku boku.JPG" alt="boku boku">
            </div>
        </section>
        
        <!-- Cuadro con el título dentro -->
        <div style="text-align: center;">
        <div class="title-box">
            <h1>¿Qué es BOKU BOKU?</h1>
        </div>
        <div style="text-align: center;">
    <h2>Un espacio creativo desinhibido</h2>
        <p>BOKU BOKU es un videojuego de tipo sandbox en el que los jugadores pueden construir y explorar mundos utilizando bloques.
        BOKU BOKU permite a los usuarios crear sus propios entornos y jugar libremente en ellos.
        El juego tiene un enfoque en la creatividad y la personalización.</p>
        </div>
        <div class="tarjeta-informacion">
            <h3>Información</h3>
            <div class="contenido">
                <img src="images/BOKU logo.png" alt="Icono del juego" class="BOKU-Logo">
                <div class="informacion-tabla">      
                    <div class="fila">
                        <span class="etiqueta">Nombre del juego</span>
                        <span class="valor">BOKU BOKU</span>
                    </div>
                    <div class="fila">
                        <span class="etiqueta">Género</span>
                        <span class="valor">Juego de construcción con bloques</span>
                    </div>
                    <div class="fila">
                        <span class="etiqueta">Plataforma</span>
                        <span class="valor">iOS, Android</span>
                    </div>
                    <div class="fila">
                        <span class="etiqueta">Número de jugadores</span>
                        <span class="valor">Modo único,<br>Modo multijugador: hasta 16 jugadores</span>
                    </div>
                    <div class="fila">
                        <span class="etiqueta">Clasificación de contenido</span>
                        <span class="valor">Clasificado para mayores de 9 años</span>
                    </div>
                    <div class="fila">
                        <span class="etiqueta">Precio</span>
                        <span class="valor">Gratis - Compras dentro de la aplicación</span>
                    </div>
                </div>
            </div>
        </div>
        

    <!-- Líneas laterales -->
    <div class="side-line left-line"></div>
    <div class="side-line right-line"></div>
</body>
</html>
