<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOKU BOKU - Wiki - Sobre el juego</title>
    <link rel="icon" href="./images/Wikipedia BOKU.PNG" type="image/png"> 
    <link rel="stylesheet" href="style4.css"> <!-- Enlace al CSS -->
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menu-items">
                <li><a href="Noticias.html">Noticias</a></li>
                <li><a href="Youtubers.html">Youtubers</a></li>
                <li><a href="Curiosidades.html">Curiosidades</a></li>
                <li><a href="index.html">Regresar</a></li>
                <li><a href="skins.html">Skins</a></li>
            </ul>
        </nav>
    </header>

    <div class="side-line left-line"></div>
    <div class="side-line right-line"></div>

    <h1>BLOQUES, OBJETOS Y ANIMALES</h1>

    <div class="contenedor">
        <div class="cuadro">
            <img src="images/NATURAL.png" alt="Naturaleza" class="imagen">
            <p>NATURALEZA</p>
        </div>
        <div class="cuadro">
            <img src="images/Vida.png" alt="Criaturas" class="imagen">
            <p>CRIATURAS</p>
        </div>
        <div class="cuadro">
            <img src="images/COMIDA.png" alt="Comida" class="imagen">
            <p>COMIDA</p>
        </div>
        <div class="cuadro">
            <img src="images/TECNOLOGIA.png" alt="Tecnología" class="imagen">
            <p>TECNOLOGÍA</p>
        </div>
        <div class="cuadro">
            <img src="images/MUSICA.png" alt="Música" class="imagen">
            <p>MÚSICA</p>
        </div>
        <div class="cuadro">
            <img src="images/JUEGOS.png" alt="Juegos" class="imagen">
            <p>JUEGOS</p>
        </div>
        <div class="cuadro">
            <img src="images/BLOQUES.png" alt="Bloques" class="imagen">
            <p>BLOQUES</p>
        </div>
        <div class="cuadro">
            <img src="images/MUEBLES.png" alt="Muebles" class="imagen">
            <p>MUEBLES</p>
        </div>
        <div class="cuadro">
            <img src="images/FESTIVIDADES.png" alt="Festividades" class="imagen">
            <p>FESTIVIDADES</p>
        </div>
        <div class="cuadro">
            <img src="images/FORMAS.png" alt="Formas" class="imagen">
            <p>FORMAS</p>
        </div>
        <div class="cuadro">
            <img src="images/LETRAS.png" alt="Letras" class="imagen">
            <p>LETRAS</p>
        </div>
        <div class="cuadro">
            <img src="images/INVISIBLES.png" alt="Invisibles" class="imagen">
            <p>INVISIBLES</p>
        </div>
    </div>
</body>
</html>
