<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOKU BOKU - WIKI - Youtubers</title>
    <link rel="icon" href="./images/Wikipedia BOKU.PNG" type="image/png"> 
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menu-items">
                <li><a href="Noticias.html">Noticias</a></li>
                <li><a href="index.html">Regresar</a></li>
                <li><a href="Curiosidades.html">Curiosidades</a></li>
                <li><a href="Sobre.html">Sobre el juego</a></li>
                <li><a href="skins.html">Skins</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección de Youtubers -->
    <div class="youtubers-section">
        <!-- Youtuber 1 -->
        <div class="youtuber-card">
            <img src="images/fitria.png" alt="YouTuber 1">
            <div>
                <div class="youtuber-name">FitriaOfficial</div>
                <div class="youtuber-description">Contenido general, Tutorial funcional</div>
                <div class="youtuber-language">Indonesio</div>
                <a href="https://www.youtube.com/@FitriaOfficial" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion  fitria.html"  class="curiosidad-link" >
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 2 -->
        <div class="youtuber-card">
            <img src="images/shadow.png" alt="Youtuber 2">
            <div>
                <div class="youtuber-name">TheShadow19 Official</div>
                <div class="youtuber-description">Constructor, Contenido general</div>
                <div class="youtuber-language">Indonesio</div>
                <a href="https://www.youtube.com/@theshadow19official" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion shadow.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 3 -->
        <div class="youtuber-card">
            <img src="images/Orannux.png" alt="Youtuber 3">
            <div>
                <div class="youtuber-name">Orannux</div>
                <div class="youtuber-description">Roleplay, informante</div>
                <div class="youtuber-language">Ruso</div>
                <a href="https://www.youtube.com/@orannux" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion orannux.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 4 -->
        <div class="youtuber-card">
            <img src="images/nikitateam.png" alt="Youtuber 4">
            <div>
                <div class="youtuber-name">]Nikitateam[</div>
                <div class="youtuber-description">Roleplay</div>
                <div class="youtuber-language">Ruso</div>
                <a href="https://www.youtube.com/@null_null00000" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion Nikitateam.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 5 -->
        <div class="youtuber-card">
            <img src="images/morda.png" alt="Youtuber 5">
            <div>
                <div class="youtuber-name">Морда</div>
                <div class="youtuber-description">Roleplay, Contenido general</div>
                <div class="youtuber-language">Ruso</div>
                <a href="https://www.youtube.com/@MordaOfficial1" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion Морда.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 6 -->
        <div class="youtuber-card">
            <img src="images/mr jota.png" alt="Youtuber 6">
            <div>
                <div class="youtuber-name">Mr Jota</div>
                <div class="youtuber-description">Roleplay, Contenido general</div>
                <div class="youtuber-language">Español</div>
                <a href="https://www.youtube.com/@Mr.Jota_skins" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion Mr Jota.html" class="curiosidad-link" >
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 7 -->
        <div class="youtuber-card">
            <img src="images/madiyu.png" alt="Youtuber 7">
            <div>
                <div class="youtuber-name">MADYUIユイ</div>
                <div class="youtuber-description">Modelaje de personajes</div>
                <div class="youtuber-language">inglesa</div>
                <a href="https://www.youtube.com/@YuuShorstStory" class="youtuber-link" target="_blank">
                    <img src="images/youtube.png" alt="YouTube" class="youtube-icon">
                </a>
                <!-- Enlace de curiosidades -->
                <a href="informacion/informacion MADYUIユイ.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>

        <!-- Youtuber 8 -->
        <div class="youtuber-card">
            <img src="images/natanos.png" alt="Youtuber 8">
            <div>
                <div class="youtuber-name">Natanos3427</div>
                <div class="youtuber-description">Contenido general</div>
                <div class="youtuber-language">Español</div>
                <a href="https://www.youtube.com/@N_3427" class="youtuber-link" target="_blank">
                <img src="images/youtube.png" alt="youtube" class="youtube-icon">
                <!-- Enlace de curiosidades --> 
                <a href="informacion/informacion Natanos.html" class="curiosidad-link">
                    <img src="images/curiosidad.png" alt="Curiosidad" class="custom-icon">
                </a>
            </div>
        </div>
    <!-- Líneas laterales -->
    <div class="side-line left-line"></div>
    <div class="side-line right-line"></div>
</body>
</html>
